<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

        <div class="pinch-zoom">
                <div class="page" data-uuid="g3tibYFv" data-level="1">
                        <div class="content">
                                <h1>About these Notes</h1>
                                <p><span>Go to the <a class="internal" data-uuid="/notes/public"
                                                        href="/notes/public">notes!</a></span></p>

                        </div>
                </div>
        </div>

        {% include allnotes.html %}
        {% include foot_script.html %}

</body>